*.aux
*.log
*.bak
*.nav
*.out
Trust-Region/TrustRegion.pdf
*.snm
*.gz
*.toc
Trust-Region/TrustRegion.bib.sav
Tex/bsc-thesis/Complete.pdf
Tex/bsc-thesis/Chapter0/ImportantTermsAndDefinitions.pdf
Tex/bsc-thesis/Complete.bbl
Tex/bsc-thesis/Complete.blg
Tex/bsc-thesis/Complete.fdb_latexmk
Tex/bsc-thesis/Complete.fls
*.bcf
Tex/bsc-thesis/Complete.run.xml
Tex/bsc-thesis/literature-riemer.bib.sav
Tex/bsc-thesis/BachelorThesis.dvi
Tex/bsc-thesis/BachelorThesis.blg
Tex/bsc-thesis/BachelorThesis.fdb_latexmk
Tex/bsc-thesis/BachelorThesis.pdf
Tex/bsc-thesis/BachelorThesis.bbl
Tex/bsc-thesis/BachelorThesis.fls
Tex/bsc-thesis/BachelorThesis.run.xml
Tex/bsc-thesis/BachelorThesis.loc
Tex/bsc-thesis/BachelorThesis.soc
Trust-Region/TrustRegion.fls
Tex/bsc-thesis/BachelorThesis.synctex(busy)
Tex/defense/main.pdf
Tex/defense/main.fls
Tex/defense/main.fdb_latexmk
Tex/defense/main.bbl
Tex/defense/main.blg
Tex/defense/main.loc
Tex/defense/main.run.xml
Tex/defense/main.soc
